<html style="font-family:'Montserrat', sans-serif;">

<head>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <title>
        <%= message %>
    </title>
</head>

<body style="margin: 0; padding: 0;">

    <div style="display: flex; justify-content: center; align-items: center; height: 100vh; <%= style %>">
        <h1 style="font-size: 8rem;">
            <%= message %>
        </h1>
    </div>
</body>

</html>